* {
    box-sizing: border-box;
}

.app-container {
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: "PT Serif";
    color: black;
    font-size: 3.2rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.25rem;
    width: 85%;
}

.sub-content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header-right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header-left-container {
    width: 50%;
    font-size: 1rem;
    font-family: "PT Serif";
    font-weight: 720;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.image {
    width: 77%;
    border-radius: 4%;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    flex-grow: 1;
    flex-shrink: 1;
}

.section-down-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.extral-class {
    margin-top: 78px;
}

.sub-class {
    margin-top: 0px;
}

.designation {
    transform-origin: top left;
    align-self: flex-start;
    margin-left: 4%;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 450;
    font-size: 0.8rem;
    transform: rotate(90deg);
}

.developer {
    line-height: 27px;
    color: #000000;
    margin-bottom: 32px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
}
.id {
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    color: black;

}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .header-left-container {
        width: 100%;
    }

    .image {
        width: 80%;
    }

    .designation {
        margin-left: 12%;
    }

    .developer {
        font-size: 1rem;
        /* margin-left: -28%; */
        /* border: 1px solid black; */
        margin-left: -15%;
        width: 50%;
    }

    .header-right-container {
        width: 100%;
    }

    .section-container {
        /* flex-grow: 1;
        flex-shrink: 1; */
        margin-left: 2rem;
        width: 40%;
        /* border: 1px solid red; */
    }

    .extral-class {
        margin-top: 0px;
    }

    .sub-class {
        margin-top: 70px;
    }

    .id {
        text-align: center;
        font-family: Poppins;
        font-size: 0.6rem;
        font-weight: 500;
        color: black;
        
    }

    .content {
        font-size: 1rem;
    }
    .sub-content {
        font-size: 25px;
    }
}